// for custom color include this
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";

// Typography
$enable-responsive-font-sizes: true;
$font-family-sans-serif: "Nunito", sans-serif;
$font-size-base: 1rem;
$line-height-base: 1.6;

//custom color, create your own map
$custom-colors: (
    "orange": #ffa511,
);

// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);
