.back {
    background-color: #f9f9f9;
    background-image: url("../img/backland.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100%;
}

.gbr {
    height: 400px;
}

.vr {
    width: 3px !important;
    opacity: 1;
    background-color: #f79500;
    height: 100%;
}

.gbr-cp {
    width: 80px;
    margin-bottom: 20px;
}

.bg-card-panduan {
    height: 100%;
    background-color: white;
    border-radius: 10px;
    font-size: 1.2rem;
}

.box-card {
    height: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-ket {
    width: 70px;
}

/* footer */
.hr {
    border: 1px solid white !important;
    opacity: 0.8 !important;
}
@media only screen and (max-width: 700px) {
    .center {
        text-align: center;
    }

    .gbr {
        height: 220px;
        width: 220px;
    }

    .bg-card-panduan {
        font-size: 1.1rem;
    }

    .img-ket {
        width: 60px;
    }
}
